<style>
a:link, a:visited
{
color:#b76c6c;
}
</style>



<table>
  <tr>
    <th>Emp ID</th>
    <th>Rating</th>
    <th colspan="2"></th>
  </tr>
 <p><p><p><p>
  <% @appraisal.each do |appraisal| %>
    <tr>
      <td><%= appraisal.emp_id %></td>
      <td><%= appraisal.rating %></td>
    
      <td><%= link_to 'Verify', edit_appraisal_path(appraisal) %></td>
    
    </tr>
    <p><p><p><p>
  <% end %>
</table>


<%= link_to 'Back', appraisals_path %>
