// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
//	background-image: url('Ae1u8p.jpg');
}

//body.home {
  //  background: url('h.jpg') 10px 400px no-repeat;
//}

.har{
	background-color: #00153466;
	height: auto;
	border: 1px solid #848991;
	padding: 50px;
}

